body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}


.contenedor{
    background-color:rgb(32, 41, 218);
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 50px rgb(200, 255, 0);
    padding: 20px;
    width: 90%;
}

h1 {
    color: rgb(255, 242, 0);
}


form input {
    width: 300px;
    color:rgb(48, 3, 247);
    border-radius: 20px;
    background-color: rgb(223, 252, 2);
    border:none;
}

button{
    margin: 10px;
    width: 200px;
    color: blue;
    background-color: aquamarine;
    border-radius: 20px;
    border:none;
}

button{
    margin: 10px;
    width: 200px;
    color: blue;
    background-color: aquamarine;
    border-radius: 20px;
    border:none;
}

