body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.contenedor{
    background-color:goldenrod;
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 50px red;
    padding: 20px;
    width: 90%;
}


h1 {
    color: aqua;
}

form input {
    width: 300px;
    color:rgb(48, 3, 247);
    border-radius: 20px;
    background-color: rgb(223, 252, 2);
    border:none;
}

button{
    margin: 10px;
    width: 200px;
    color: blue;
    background-color: aquamarine;
    border-radius: 20px;
    border:none;
}


table {
    width: 100%;
    border-collapse:collapse;
    margin: 10px;
    
}

table, th, td {
    border:5px solid rgb(240, 213, 10);
    text-align:center;
}

th {
    color:rgb(37, 37, 56);
}

td {
    color:darkred;
}